@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-full: 0deg 0% 98%;
    --full-text: 235deg 19% 35%;
    --footer-text: 236deg 9% 61%;
    --todo-text: 235deg 19% 35%;
    --todo-line-through: 233deg 11% 84%;
    --todo-bg: 0deg 0% 98%;
    --todo-border: 236deg 33% 92%;
  }
  :root[data-theme="dark"] {
    --bg-full: 235deg 21% 11%;
    --full-text: 234deg 39% 85%;
    --footer-text: 233deg 14% 35%;
    --todo-text: 234deg 39% 85%;
    --todo-line-through: 233deg 14% 35%;
    --todo-bg: 235deg 24% 19%;
    --todo-border: 233deg 14% 35%;
  }
  body {
    @apply font-Josefin-sans text-lg bg-background text-color-text;
  }
  .bg-gradient-check {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
}

@layer components {
  .filter-btn {
    @apply text-color-text font-semibold cursor-pointer hover:text-background;
  }
}
